// variables:
$color-1:#9f2f21;
$color-2: #c5dc50;
$color-3:#383838;
$color-4: seashell;
$font: "Merriweather",serif;
$breakpoint-xs: 300px;
$breakpoint-sm: 768px;
$breakpoint-md: 993px;
$breakpoint-lg: 1300px;