.poema-item {
    width: 300px;
    height: 400px;
    transition: all 250ms;
    margin: 2em auto;
}

.poema-item:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 5px 5px 15px $color-3;
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    .indice{
        width: 20em;
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    .indice{
        width: 50em;
    }
    
    .poema-item {
        width: 350px;
        height: 400px;
        padding: 1em 2em;
    }

    .medium{
        margin-left: 7em;
    }
}